.Toolbar {
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1b1a19;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
    color: #FFFFFF;
}

.Toolbar nav {
    height: 100%;
}

.Logo img {
    height: 35px;
}

.bar {
    display: block;
    height: 4px;
    width: 35px;
    background: #ffffff;
    margin: 5px auto;  
}

.con {
    width: auto;
    margin: 0 auto;
    -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
    -ms-transition: all .7s ease;
    -o-transition: all .7s ease;
    transition: all .7s ease;
}

.con:hover .bar {
    background-color: #ffffff;
}

.col {
    display: inline-block;
    text-align: center;
    height: auto;
    position: relative;
}

.middle {
    margin: 0 auto;
}

.bar {
    -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
    -ms-transition: all .7s ease;
    -o-transition: all .7s ease;
    transition: all .7s ease;
}

.con:hover .top {
    -webkit-transform: translateY(9px) rotateZ(45deg);
    -moz-transform: translateY(9px) rotateZ(45deg);
    -ms-transform: translateY(9px) rotateZ(45deg);
    -o-transform: translateY(9px) rotateZ(45deg);
    transform: translateY(9px) rotateZ(45deg);
}

.con:hover .bottom {
    -webkit-transform: translateY(-9px) rotateZ(-45deg);
    -moz-transform: translateY(-9px) rotateZ(-45deg);
    -ms-transform: translateY(-9px) rotateZ(-45deg);
    -o-transform: translateY(-9px) rotateZ(-45deg);
    transform: translateY(-9px) rotateZ(-45deg);
}

.con:hover .middle {
    width: 0;
}
